html,
body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.dancer{
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    filter: drop-shadow(0 0 1mm rgba(0, 0, 0, 0.75));
}

#dance-floor {
    /*position: relative;*/
}


#controls {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.control-group-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.control-group {
    background: lightgray;
    padding: 5px;
    border: solid 1px;
}

#formations {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

#moves {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

body {
    background-image: url("https://cdn.architextures.org/textures/20/11/ash-5fc4cb2f0d6d2-1200.jpg");
    background-size: 150px;
}

.arrow {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     min-width: 75px;
     min-height: 75px;
    border: solid 1px black;
 }

#center-point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
}

.label {
    text-align: center;
}

#header {
    position: absolute;
    text-align: center;
    height: 20px;
    width: 100%;
    bottom: 50px;
}